[Desktop Entry]
Name=Futu
MimeType=
Exec=/usr/share/futu-ftnn-wine/run.sh
Type=Application
GenericName=FTNN
Terminal=false
Comment=Futu Bull (FTNN) Windows
Categories=Financial
